﻿@model web_assignment_team_5.Models.FlightSchedule

@{
    ViewData["Title"] = "Schedule";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

<h4 class="PageTitle">Create flight route record</h4>
<h1>Schedule Flight</h1>

<hr />
<form asp-action="CreateSchedule">
    <fieldset class="FormContent">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <div class="form-group row">
            <label asp-for="FlightNumber"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="FlightNumber" type="text" placeholder="LC123" class="form-control" />
                <span asp-validation-for="FlightNumber" class="text-danger"></span>

            </div>
        </div>


        <div class="form-group row">
            <label asp-for="RouteID"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <select asp-for="RouteID" asp-items="@ViewData["RouteIDList"] as List<SelectListItem>" class="form-control"></select>
                <span asp-validation-for="RouteID" class="text-danger"></span>

            </div>
        </div>



        <div class="form-group row">
            <label asp-for="DepartureDateTime"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="DepartureDateTime" type="datetime-local" class="form-control" min=@DateTime.Now.Date.AddDays(1) />
                <span asp-validation-for="DepartureDateTime"></span>

            </div>
        </div>

        <div class="form-group row">
            <label asp-for="ArrivalDateTime"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="ArrivalDateTime" type="datetime-local" class="form-control" />
                <span asp-validation-for="ArrivalDateTime" class="text-danger"></span>

            </div>
        </div>

        <div class="form-group row">
            <label asp-for="EconomyClassPrice"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="EconomyClassPrice" type="number" placeholder="0.00" step="0.01" class="form-control" />
                <span asp-validation-for="EconomyClassPrice" class="text-danger"></span>

            </div>
        </div>

        <div class="form-group row">
            <label asp-for="BusinessClassPrice"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="BusinessClassPrice" type="number" placeholder="0.00" step="0.01" class="form-control" />
                <span asp-validation-for="BusinessClassPrice" class="text-danger"></span>

            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Status"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Status" type="text" value="Opened" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>

            </div>
        </div>

            <div class="form-group ">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div>
                <a asp-action="Viewflights">Back to List</a>
            </div>
</fieldset>
    </form>


