﻿@model web_assignment_team_5.Models.FlightRoute

@{
    ViewData["Title"] = "CreateRoute";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

<h1>CreateRoute</h1>

<h4>FlightRoute</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateRoute">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="DepartureFlightCity" class="control-label"></label>
                <input asp-for="DepartureFlightCity" class="form-control" />
                <span asp-validation-for="DepartureFlightCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartureFlightCountry" class="control-label"></label>
                <input asp-for="DepartureFlightCountry" class="form-control" />
                <span asp-validation-for="DepartureFlightCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalFlightCity" class="control-label"></label>
                <input asp-for="ArrivalFlightCity" class="form-control" />
                <span asp-validation-for="ArrivalFlightCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalFlightCountry" class="control-label"></label>
                <input asp-for="ArrivalFlightCountry" class="form-control" />
                <span asp-validation-for="ArrivalFlightCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlightDuration" class="control-label"></label>
                <input asp-for="FlightDuration" class="form-control" />
                <span asp-validation-for="FlightDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div>
                @Html.ValidationMessage("Route")
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Viewflights">Back to List</a>
</div>

