﻿@model web_assignment_team_5.Models.FlightSchedule

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

<h1>Update</h1>

<h4>FlightSchedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ScheduleID" class="control-label"></label>
                <input asp-for="ScheduleID" readonly class="form-control" />
                <span asp-validation-for="ScheduleID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlightNumber" class="control-label"></label>
                <input asp-for="FlightNumber" readonly class="form-control" />
                <span asp-validation-for="FlightNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RouteID" class="control-label"></label>
                <input asp-for="RouteID" readonly class="form-control" />
                <span asp-validation-for="RouteID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AircraftID" class="control-label"></label>
                <input asp-for="AircraftID" readonly class="form-control" />
                <span asp-validation-for="AircraftID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartureDateTime" class="control-label"></label>
                <input asp-for="DepartureDateTime" readonly class="form-control" />
                <span asp-validation-for="DepartureDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalDateTime" class="control-label"></label>
                <input asp-for="ArrivalDateTime" readonly class="form-control" />
                <span asp-validation-for="ArrivalDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EconomyClassPrice" class="control-label"></label>
                <input asp-for="EconomyClassPrice" readonly class="form-control" />
                <span asp-validation-for="EconomyClassPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BusinessClassPrice" class="control-label"></label>
                <input asp-for="BusinessClassPrice" readonly class="form-control" />
                <span asp-validation-for="BusinessClassPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <div class="form-group form-check-inline">
                    <label class="col-form-label">
                        <input asp-for="Status" type="radio" value="Opened" class="form-check-input" />
                        <span style="font-weight:normal; padding-right:20px">Opened</span>
                    </label>
                    <label class="col-form-label">
                        <input asp-for="Status" type="radio" value="Full" class="form-check-input" />
                        <span style="font-weight:normal; padding-right:20px">Full</span>
                    </label>
                    <label class="col-form-label">
                        <input asp-for="Status" type="radio" value="Delayed" class="form-check-input" />
                        <span style="font-weight:normal; padding-right:20px">Delayed</span>
                    </label>
                    <label class="col-form-label">
                        <input asp-for="Status" type="radio" value="Cancelled" class="form-check-input" />
                        <span style="font-weight:normal; padding-right:20px">Cancelled</span>
                    </label>
                </div>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Viewflights">Back to List</a>
</div>

