﻿@model IEnumerable<web_assignment_team_5.Models.FlightRoute>

@{
    ViewData["Title"] = "Viewflights";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

<h1>Viewflights</h1>

<div>
    <h4>FlightRoute</h4>
    <hr />
    @foreach (var item in Model)
    {
        <div class="table-responsive">
            <table id="Viewflights" class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            Route ID
                        </th>
                        <th>
                            Departure City
                        </th>
                        <th>
                            Departure Country
                        </th>
                        <th>
                            Arrival City
                        </th>
                        <th>
                            Arrival Country
                        </th>
                        <th>
                            Duration
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @item.RouteID
                        </td>
                        <td>
                            @item.DepartureFlightCity
                        </td>
                        <td>
                            @item.DepartureFlightCountry
                        </td>
                        <td>
                            @item.ArrivalFlightCity
                        </td>
                        <td>
                            @item.ArrivalFlightCountry
                        </td>
                        <td>
                            @item.FlightDuration
                        </td>
                    </tr>
                </thead>
            </table>
        </div>
            
        <table id="Viewflights2" class="table table-striped table-bordered">
            <thead class="thead-light">
                @foreach (var flightSchedules in item.flightSchedules)
                {

                    <tr>
                        <th>
                            Schedule ID
                        </th>
                        <th>
                            Flight Number
                        </th>
                        <th>
                            Route ID
                        </th>
                        <th>
                            Aircraft ID
                        </th>
                        <th>
                            Departure Date and Time
                        </th>
                        <th>
                            Arrival Date and Time
                        </th>
                        <th>
                            Status
                        </th>
                        <th>

                        </th>
                        
                    </tr>
                    <tr>
                        <td>
                            @flightSchedules.ScheduleID
                        </td>
                        <td>
                            @flightSchedules.FlightNumber
                        </td>
                        <td>
                            @flightSchedules.RouteID
                        </td>
                        <td>
                            @flightSchedules.AircraftID
                        </td>
                        <td>
                            @flightSchedules.DepartureDateTime
                        </td>
                        <td>
                            @flightSchedules.ArrivalDateTime
                        </td>
                        <td>
                            @flightSchedules.Status
                        </td>
                        <td>
                            <a asp-action="Update" asp-controller="Flight" asp-route-id="@flightSchedules.ScheduleID">Update Status</a>
                        </td>
                    </tr>
                }
            </thead>
        </table>
        }
</div>