﻿@model web_assignment_team_5.Models.FlightScheduleViewModel

@{
    ViewData["Title"] = "View Routes";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

<h4 class="PageTitle">View Aircraft Schedule</h4>
<hr />
<fieldset class="FormContent">
    <div class="form-group row">
        <label asp-for="ScheduleID"
               class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.Display("ScheduleID")
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="FlightNumber"
               class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.Display("FlightNumber")
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="AircraftID"
               class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.Display("AircraftID")
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Flight Schedule: </label>
    </div>
    <div class="table-responsive">
        <table id="viewFlightSchedule" class="table table-striped table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>Departure DateTime</th>
                    <th>Arrival DateTime</th>
                    <th>Departure Country</th>
                    <th>Arrival Country</th>
                </tr>
            </thead>

            
        </table>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 offset-sm-3">
            <a asp-action="ViewFlightSchedule"
               asp-controller="Flight">Back to List</a>
        </div>
    </div>
</fieldset>
