﻿
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2 style="text-align:center; font-weight: bold; ">About</h2>
<div class="container">
    <h3>Mission</h3>
    <p style="padding: 20px; font-size: large;">
        Giving everyone a unique and personal experience
    </p>
    <h3>Vision</h3>
    <p style="padding: 20px; font-size: large;">
        Prioritising customer's needs, safety and providing quality service
    </p>
</div>

