﻿@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2 style="text-align:center; font-weight: bold; ">Contact Us</h2>
<div class="container">
    <h3>For futher enquires: </h3>
    <p style="padding: 10px; font-size: large;">
        <br />Contact: <a style="color:white;" href="tel:+6512345678">+65 1234 5678</a>
        <br />Email: <a style="color:white;" href="mailto: abc@example.com">abc@example.com</a>
    </p>
</div>

