﻿@{
    ViewData["Title"] = "HomePage";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="content" style="background-image: url('~/images/bg.jpeg');">
    <h4 style="text-align: center;
        font-weight: bold;">
        Welcome to
        Lion City Airlines
    </h4>
    <img style="display: block; margin-left: auto; margin-right: auto; width: 50%;" src="~/images/control_tower.jpg" alt="control tower">
</div>
