﻿@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">

    <!-- Set the initial view zooming scale for mobile device -->
    <meta name="viewport" content="width = device-width,
 initial-scale = 1" />

    <title>Lion City Airline</title>

    <!-- Reference to customized styling for this website -->
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
</head>
<body>
   
    <div class="content">
        <h2 style="font-weight: bold;">Login</h2>
        <div class="container" id="mainContainer">
            <!-- 1st row -->
            <!-- Flexbox for login -->
            <div>
                <form method="post" action="~/Home/Login">
                    <fieldset class="loginFieldset">
                        <label style="font-size:20px;" for="txtLoginID">Email:</label>
                        <input type="email" name="txtLoginID"
                               id="txtLoginID" required /><br />
                        <label style="font-size:20px;" for="txtPassword">Password:</label>
                        <input type="password" name="txtPassword"
                               id="txtPassword" style="width:100px"
                               required />
                        <input type="submit" id="btnCustLogin"
                               class="myButton" value="Login" />
                        <br /> <span style="color:red;">@TempData["Message"]</span>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
   

</body>
</html>
