﻿
@{
    ViewData["Title"] = "TravelInfo";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2 style="text-align: center;
        font-weight: bold;">Travel Info</h2>

<div class="container">
    <h3>Boarding</h3>
    <p style="padding: 20px; font-size: large;">
        Your boarding time is printed on your boarding pass.
        <br />Do ensure that you are at the boarding gate at least 10 minutes before closure.
    </p>
</div>

