﻿@model web_assignment_team_5.Models.Weather

@{
    ViewData["Title"] = "Weather";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h4 class="PageTitle" style="font-weight: bold;">Singpore Weather Forecast</h4>
<label>Travelling in Singapore? This the current weather forecast!</label>

@if (Model != null)
{
    <div class="table-responsive">
        <table id="weather" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Time Stamp</th>
                    <th>Forecast</th>
                    <th>Relative Humidity (Low)</th>
                    <th>Relative Humidity (High)</th>
                    <th>Temperature (Low)</th>
                    <th>Temperature (High)</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Items.Count; i++)
                {
                    <tr>
                        <td>@Model.Items[i].Timestamp</td>
                        <td>@Model.Items[i].General.Forecast</td>
                        <td>@Model.Items[i].General.Relative_humidity.Low</td>
                        <td>@Model.Items[i].General.Relative_humidity.High</td>
                        <td>@Model.Items[i].General.Temperature.Low</td>
                        <td>@Model.Items[i].General.Temperature.High</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}
else
{
    <span style="color:red">No record found!</span>
}
