﻿@model web_assignment_team_5.Models.Staff

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

<h4 class="PageTitle">Create Flight Personnel Record</h4>
<hr />
<form asp-action="Create">
    <fieldset class="FormContent">
        <div class="form-group row">
            <label asp-for="StaffName" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="StaffName" class="form-control" />
                <span asp-validation-for="StaffName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Gender" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <div class="form-group form-check-inline">
                    <label class="col-form-label">
                        <input asp-for="Gender" type="radio" value="M" checked class="form-check-input" />
                        <span style="font-weight:normal; padding-right:20px">Male</span>
                    </label>
                    <label class="col-form-label">
                        <input asp-for="Gender" type="radio" value="F" class="form-check-input" />
                        <span style="font-weight:normal; padding-right:20px">Female</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="DateEmployed" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="DateEmployed" class="form-control" />
                <span asp-validation-for="DateEmployed" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Vocation" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <select asp-for="Vocation"
                        asp-items="@ViewData["VocationList"] as List<SelectListItem>"
                        class="form-control">
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="EmailAddr" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="EmailAddr" class="form-control" />
                <span asp-validation-for="EmailAddr" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row"> 
            <div class="col-sm-9 offset-sm-3"> 
                <input type="submit" value="Create" class="btn btn-primary" /> 
            </div> 
        </div>
    </fieldset>
</form>

