﻿@model web_assignment_team_5.Models.StaffViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

<h4 class="PageTitle">View Personnel Details</h4>
<hr />
<fieldset class="FormContent">
    <div class="form-group row">
        <label asp-for="StaffID"
               class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.Display("StaffID")
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="StaffName"
               class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.Display("StaffName")
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Gender" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <div class="form-group form-check-inline">
                <label class="col-form-label">
                    <input asp-for="Gender" type="radio" value="M" class="form-check-input" disabled />
                    <span style="font-weight:normal; padding-right:20px">Male</span>
                </label>
                <label class="col-form-label">
                    <input asp-for="Gender" type="radio" value="F" class="form-check-input" disabled />
                    <span style="font-weight:normal; padding-right:20px">Female</span>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="DateEmployed"
               class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.Display("DateEmployed")
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Vocation"
               class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.Display("Vocation")
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="EmailAddr"
               class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.Display("EmailAddr")
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Status"
               class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.Display("Status")
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Flight Schedule: </label>
    </div>
    <div class="table-responsive">
        <table id="viewFlightSchedule" class="table table-striped table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>Flight No.</th>
                    <th>Role</th>
                    <th>Departure DateTime</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.ScheduleNo.Count; i++)
                {
                    <tr>
                        <td>@Model.ScheduleNo[i]</td>
                        <td>@Model.Role[i]</td>
                        <td>@Model.DepartureDateTime[i]</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="form-group row"> 
        <div class="col-sm-3"> 
            <a asp-action="Index" 
               asp-controller="Staff">Back to List</a> 
        </div> 
    </div>
</fieldset>
