﻿@model web_assignment_team_5.Models.FlightCrew

@{
    ViewData["Title"] = "FlightAttendant_2";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}


<h4>Flight Attendant #2</h4>
<hr />
<form asp-action="FlightAttendant_2">
    <fieldset class="FormContent">
        <div class="form-group row">
            <label asp-for="ScheduleID" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="ScheduleID" value="@Model.ScheduleID" readonly class="form-control-plaintext" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Role" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Role" value="@Model.Role" readonly class="form-control-plaintext" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="StaffID" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <select asp-for="StaffID"
                        asp-items="@ViewData["FlightAttendantList"] as List<SelectListItem>"
                        class="form-control">
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </div>
    </fieldset>
</form>
