﻿@model IEnumerable<web_assignment_team_5.Models.Staff>

@{
    ViewData["Title"] = "View Personnel";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

<h4>View Personnel and Details</h4>
<partial name="~/Views/Staff/_ViewStaff.cshtml" model="@Model" />

