﻿@model IEnumerable<web_assignment_team_5.Models.Staff>

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

<h4 class="PageTitle">Update Flight Personnel Status</h4>

@if (Model.ToList().Count > 0)
{
    <div class="table-responsive">
        <table id="viewStaff" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Staff Name</th>
                    <th>Email Address</th>
                    <th>Vocation</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.StaffID.ToString()</td>
                        <td>@item.StaffName</td>
                        <td>@item.EmailAddr</td>
                        <td>@item.Vocation</td>
                        <td>@item.Status</td>
                        <td>
                            <a asp-action="Edit" asp-controller="Staff" asp-route-id="@item.StaffID">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <span style="color:red">No record found!</span>
}