﻿<!-- A grey navbar that expands horizontally at medium device -->
<nav class="navbar navbar-expand-md bg-light navbar-light">
    @{IgnoreBody(); }
    <!-- The brand(or icon) of the navbar -->
    <a href="~/Home/Index"><img id="imgLogo" href="~/Home/Index" src="~/images/LionCityLOGO.jpeg" width="90" height="70" /></a>
    <!-- Toggle/collapsible Button, also known as hamburger button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#staffNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Links in the navbar, displayed as drop-down list when collapsed -->
    <div class="collapse navbar-collapse" id="staffNavbar">
        <!-- Links that are aligned to the left, mr-auto: right margin auto-adjusted -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link" href="~/Home/About">About</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="~/Home/TravelInfo">Travel Info</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="~/Home/Contact">Contact</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="~/Home/Weather">Weather</a>
            </li>
        </ul>

        <!-- Links that are aligned to the right, ml-auto: left margin auto-adjusted -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="~/Home/Login">Login</a>
            </li>
            <li>
                <a class="nav-link" href="~/Cust/Create">Register</a>
            </li>
        </ul>
    </div>

</nav>
