﻿
<!-- A grey navbar that expands horizontally at medium device -->
    <nav class="navbar navbar-expand-md bg-light navbar-light">
        @{IgnoreBody(); }
        <!-- The brand(or icon) of the navbar -->
        <a class="navbar-brand" href="~/Home/StaffMain" style="font-size:32px; font-weight:bold; color:#3399FF;">         Lion City Airlines     </a>
        <!-- Toggle/collapsible Button, also known as hamburger button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#staffNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Links in the navbar, displayed as drop-down list when collapsed -->
        <div class="collapse navbar-collapse" id="staffNavbar">
            <!-- Links that are aligned to the left, mr-auto: right margin auto-adjusted -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Aircraft</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="~/Aircraft/CreateAircraft">Create Record</a>
                        <a class="dropdown-item" href="~/Aircraft/ViewAircrafts">View Aircraft</a>
                        <a class="dropdown-item" href="~/Aircraft/AssignSchedule">Assign Aircraft</a>
                        <a class="dropdown-item" href="~/Aircraft/UpdateAircraft">Update Status</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Flight</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="~/Flight/CreateSchedule">Schedule Flight</a>
                        <a class="dropdown-item" href="~/Flight/Viewflights">View all flight</a>
                        <a class="dropdown-item" href="~/Flight/CreateRoute">Create route</a>
                        <a class="dropdown-item" href="#"></a>
                    </div>
                </li>
                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Flight Personnel</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="~/Staff/Create">Create Record</a>
                        <a class="dropdown-item" href="~/Staff/Index">View Personnel</a>
                        <a class="dropdown-item" href="~/Staff/AssignSchedule">Assign Personnel</a>
                        <a class="dropdown-item" href="~/Staff/UpdatePersonnel">Update Status</a>
                    </div>
                 </li>
            </ul>

            <!-- Links that are aligned to the right, ml-auto: left margin auto-adjusted -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <!-- A link for logging out user -->
                    <a class="nav-link" href="~/Home/LogOut">Log Out</a>
                </li>
            </ul>
        </div>

    </nav> 