﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Lion City Airlines</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        .content {
            background-image: url(../images/staffbg.jpg);
            padding: 20px;
        }
    </style>
</head>
<body>
    <header>
        @if (Context.Session.GetString("Role") != null)
        {
            if (Context.Session.GetString("Role") == "Admin")
            {@await Html.PartialAsync("_StaffNavBar.cshtml")}

        else if (Context.Session.GetString("Role") == "Customer")
        {@await Html.PartialAsync("CustomerMain.cshtml")}
}
    </header>

    <div class="container">
        <!-- 1st row -->
        <div class="row">
            <div class="col-sm-12">
                <p style="padding:2px;">
                    @{
                        string userRole = "Unknown";
                        if (Context.Session.GetString("Role") != null)
                        {
                            userRole = Context.Session.GetString("Role");
                        }
                    }
                    Role: @userRole&nbsp;
                </p>
            </div>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-sm-12">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <footer class="border-top small text-right text-muted">
        <p style="padding-right:15px; padding-top: 5px">
            WEB Assignment Team 5 - &copy;@DateTime.Today.Year
            School of ICT, Ngee Ann Polytechnic
        </p>
        <a style="padding-right:15px; padding-top: 5px" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
