﻿@{
    ViewData["Title"] = "HomePage";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">

    <!-- Set the initial view zooming scale for mobile device -->
    <meta name="viewport" content="width = device-width,
 initial-scale = 1" />

    <title>Lion City Airlines Flight</title>

    <!-- Reference to customized styling for this website -->
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
</head>
<body>
    <div class="tnav">
        <img id="imgLogo" src="~/images/LionCityLOGO.jpeg" />
        <a href="~/Home/AboutUsCust">Create Profile</a>
        <a href="~/Cust/Edit">Change Password</a>
        <a href="~/">Book Flight</a>
        <a href="~/">Booking Details</a>
        <div class="snav">
            <a href="~/Home/Index">Log Out</a>
        </div>
    </div>

        <div class="content">
            <img id="plane" src="~/images/bg.jpeg" />
        </div>
        <footer>Copyright ©️ Lion City Airlines</footer>

</body>
</html>
