﻿@model web_assignment_team_5.Models.CustReg

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<
<!DOCTYPE html>
<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">

    <!-- Set the initial view zooming scale for mobile device -->
    <meta name="viewport" content="width = device-width,
 initial-scale = 1" />

    <title>Lion City Airlines Flight</title>

    <!-- Reference to customized styling for this website -->
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
</head>

<body>
    <div class="tnav">
        <a href="~/Home/">Create Profile</a>
        <a href="~/Cust/Edit">Change Password</a>
        <a href="~/">Book Flight</a>
        <a href="~/">Booking Details</a>
        <div class="snav">
            <a href="~/Home/Index">Log Out</a>
            </div>
        </div>

        <div class="content">
            <h2>Change Password</h2>
            <div class="container" id="mainContainer">
                <fieldset class="loginFieldset">
                    <form asp-action="Edit">
                        <div class="form-group row">
                            <label style="font-size:27px;" for="txtPassword">Change Password:</label>
                            <input type="password" name="txtPassword"
                                   id="txtPassword" style="width:100px"
                                   required />
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-9 offset-sm-3">
                                <input type="submit" value="Confirm"
                                       class="btn btn-primary" />
                            </div>
                        </div>
                    </form>
                </fieldset>
            </div>
        </div>
      

</body>
</html>


