﻿@model IEnumerable<web_assignment_team_5.Models.Aircraft>


@if (Model.ToList().Count > 0)
{
    <div class="table-responsive">
        <table id="viewAircraft" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th colspan="2">Aircraft</th>
                    <th>Flight Schedule</th>
                </tr>
                <tr>
                    <th>ID</th>
                    <th>Model</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.AircraftID.ToString()</td>
                        <td>@item.MakeModel.ToString()</td>
                        <td><a asp-action="AircraftSchedule" asp-controller="Aircraft" asp-route-id="@item.AircraftID">View Schedule</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <span style="color:red">No record found!</span>
}


