﻿@model web_assignment_team_5.Models.AircraftViewModel

@{
    ViewData["Title"] = "Aircraft Schedule";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

<h4 class="PageTitle">View Aircraft Schedule</h4>
<hr />
<fieldset class="FormContent">
    <div class="form-group row">
        <label asp-for="AircraftID"
               class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.Display("AircraftID")
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="MakeModel"
               class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 form-control-plaintext">
            @Html.Display("MakeModel")
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Aircraft Flight Schedule: </label>
    </div>
    <div class="table-responsive">
        <table id="viewAircraftSchedule" class="table table-striped table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>Departure DateTime</th>
                    <th>Arrival DateTime</th>
                    <th>Departure Country</th>
                    <th>Arrival Country</th>
                </tr>
            </thead>

            <tbody>
                @for (int x = 0; x < Model.ArrivalDateTime.Count; x++)
                {
                    <tr>
                        <td>@Model.DepartureDateTime[x]</td>
                        <td>@Model.ArrivalDateTime[x]</td>
                        <td>@Model.DepartureCountry[x]</td>
                        <td>@Model.ArrivalCountry[x]</td>
                    </tr>

                }

            </tbody>
        </table>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 offset-sm-3">
            <a asp-action="ViewAircrafts"
               asp-controller="Aircraft">Back to List</a>
        </div>
    </div>
</fieldset>
