﻿@model web_assignment_team_5.Models.FlightSchedule

@{
    ViewData["Title"] = "AssignAircraft";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

<h4>Assign Aircraft</h4>
<hr />
<form asp-action="AssignAircraft">
    <fieldset class="FormContent">
        <div class="form-group row">
            <label asp-for="ScheduleID" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="ScheduleID" value="@Model.ScheduleID" readonly class="form-control-plaintext" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="FlightNumber" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="FlightNumber" value="@Model.FlightNumber" readonly class="form-control-plaintext" />
            </div>
        </div>


        <div class="form-group row">
            <label asp-for="AircraftID" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <select asp-for="AircraftID"
                        asp-items="@(new SelectList(
                                     @ViewData["AircraftList"] as List <Aircraft>,
                                     "AircraftID", "MakeModel"))"
                        class="form-control"></select>

            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </div>
        <div>
            <a asp-action="AssignSchedule">Back to List</a>
        </div>
    </fieldset>
</form>
    
