﻿@model IEnumerable<web_assignment_team_5.Models.FlightSchedule>

@{
    ViewData["Title"] = "AssignSchedule";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

<h4 class="PageTitle">Unassigned Schedule</h4>

@if (Model.ToList().Count > 0)
{
    <div class="table-responsive">
        <table id="viewStaff" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Flight Number</th>
                    <th>Departure DateTime</th>
                    <th>Arrival DateTime</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ScheduleID</td>
                        <td>@item.FlightNumber</td>
                        <td>@item.DepartureDateTime</td>
                        <td>@item.ArrivalDateTime</td>
                        <td>
                            <a asp-action="AssignAircraft" asp-controller="Aircraft" asp-route-id="@item.ScheduleID">Assign Aircraft</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <span style="color:red">No record found!</span>
}