﻿@model web_assignment_team_5.Models.Aircraft

@{
    ViewData["Title"] = "CreateAircraft";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}


<h4 class="PageTitle">Create Aircraft Record</h4>
<hr />
<form asp-action="Create">
    <fieldset class="FormContent">
        <div class="form-group row">
            <label asp-for="MakeModel"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="MakeModel" class="form-control" required />
                <span asp-validation-for="MakeModel"
                      class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="NumEconomySeat"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="NumEconomySeat" class="form-control" type="number" required />
                <span asp-validation-for="NumEconomySeat"
                      class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="NumBusinessSeat"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="NumBusinessSeat" class="form-control" type="number" required />
                <span asp-validation-for="NumBusinessSeat"
                      class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="DateLastMaintenance"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="DateLastMaintenance" class="form-control" type="date" />
                <span asp-validation-for="DateLastMaintenance"
                      class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
                <input type="submit" value="Create"
                       class="btn btn-primary" />
            </div>
        </div>
        <div>
            <a asp-action="ViewAircrafts">Back to List</a>
        </div>

    </fieldset>
</form>

