﻿@model web_assignment_team_5.Models.Aircraft

@{
    ViewData["Title"] = "EditAircraft";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

<h4 class="PageTitle">Edit Aircraft Status</h4>
<hr />
<form asp-action="EditAircraft">
    <fieldset class="FormContent">
        <div class="form-group row">
            <label asp-for="MakeModel"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="MakeModel" readonly class="form-control-plaintext" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="NumEconomySeat"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="NumEconomySeat" readonly class="form-control-plaintext" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="NumBusinessSeat"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="NumBusinessSeat" readonly class="form-control-plaintext" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="DateLastMaintenance"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="DateLastMaintenance" readonly class="form-control-plaintext" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Status"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <label> <input asp-for="Status" class="form-control-plaintext" type="radio" value="Operational" name="stat" /> Operational</label>
                <label> <input asp-for="Status" class="form-control-plaintext" type="radio" value="Under Maintenance" name="stat" /> Under Maintenance</label>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
                <input type="submit" value="Save"
                       class="btn btn-primary" />
            </div>
        </div>
        <div>
            <a asp-action="UpdateAircraft">Back to List</a>
        </div>
    </fieldset>
</form>