﻿@model IEnumerable<web_assignment_team_5.Models.Aircraft>

@{
    ViewData["Title"] = "UpdateAircraft";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

<h4 class="PageTitle">Update Aircraft Status</h4>

@if (Model.ToList().Count > 0)
{
    <div class="form-group row">
        <div class="col-sm-9 offset-sm-3">
            <input type="button" value="All"
                   class="btn btn-primary" onclick="location.href='@Url.Action("UpdateAircraft", "Aircraft")'" style="float:right"/>
        </div>
    </div>
    <div class="table-responsive">
        <table id="viewAircraft" class="table table-striped table-bordered">
            <thead class="thead-dark">

                <tr>
                    <th>ID</th>
                    <th>Model</th>
                    <th>No. Economy Seats</th>
                    <th>No. Business Seats</th>
                    <th>Date of Last Maintenance</th>
                    <th>Status</th>
                    <th>Update</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.AircraftID.ToString()</td>
                        <td>@item.MakeModel.ToString()</td>
                        <td>@item.NumEconomySeat.ToString()</td>
                        <td>@item.NumBusinessSeat.ToString()</td>
                        <td>@item.DateLastMaintenance.ToString()</td>
                        <td>@item.Status.ToString()</td>
                        <td><a asp-action="EditAircraft" asp-controller="Aircraft" asp-route-id="@item.AircraftID">Update</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <span style="color:red">No record found!</span>
}






