﻿@model IEnumerable<web_assignment_team_5.Models.Aircraft>

@{
    ViewData["Title"] = "ViewAircrafts";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

<h1>View Aircrafts</h1>
<partial name="~/Views/Aircraft/_ViewAircraft.cshtml" model="@Model" />